/* Navbar search bar */
.navbarSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-left: 25px;
  border-radius: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.navbarSearchBar input {
  flex: 1;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.navbarSearchBar input:focus {
  outline: none;
}

/* Home screen search bar */
.homeSearchBar {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.homeSearchBar input {
  flex: 1;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  font-size: 0.8rem;
}

.homeSearchBar input:focus {
  outline: none;
}