.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.carouselButton:first-of-type {
  left: 5rem;
}
.carouselButton:last-of-type {
  right: 5rem;
}

@media only screen and (max-width: 768px) {
  .carouselButton {
  width: 2.5rem;
  height: 2.5rem;
}
  .carouselButton:first-of-type {
    left: 0;
  }
  .carouselButton:last-of-type {
    right: 0;
  }
}
