.navbar {
  background-color: white;
  color: #1c4966;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.navbarLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbarLogoTitle {
  font-size: 30px;
  font-weight: bold;
}

.navbarLogoIcon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.navbarMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbarSearchForm {
  flex-grow: 1; /* grow to fill remaining space */
  display: flex;
  align-items: center;
  justify-content: center; /* center items horizontally */
}

.navbarSearchForm input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.navbarSearchForm button:hover {
  background-color: #14323f;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navbarButton {
  background-color: #2e86c1;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 6px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.navbarButton:hover {
  background-color: #23527c;
}

@media (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
    align-items: center;
  }

  .navbarMenu {
    margin-top: 10px;
  }

  .navbarSearchForm {
    margin-top: 10px;
  }

  .navbarRight {
    margin-top: 10px;
  }
}