.wrapper{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: row; */
}

.infoContainer {
    height: 100%;
    width: 50%;
    z-index: inherit;
    padding: 10px;
}

.mapContainer {
    height: 100%;
    width: 50%;
    z-index: inherit;
}

.map{
    position: relative;;
    height: 100%;
    width: 100%;
}

