.wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infoContainer {
  height: 100%;
  width: 100%;
  z-index: inherit;
  padding: 10px;
}

.mapContainer {
  height: 100%;
  width: 100%;
  z-index: inherit;
}

.map {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Need to make horizonal view when on mobile  */
@media (max-width: 767px){
  .wrapper {
    grid-template-columns: 1fr;
  }
}