.wrapper {
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
}

.infoContainer {
  height: 100%;
  width: 100%;
  z-index: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mapContainer {
  height: 100%;
  width: 100%;
  z-index: inherit;
}

.map {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Need to make horizonal view when on mobile  */
@media (max-width: 767px){
  .wrapper {
    grid-template-columns: 1fr;
  }
  .mapContainer {
    height: 30vh; /* Adjust height for smaller screens */
  }
}